 body,
 div,
 dl,
 dt,
 dd,
 ul,
 ol,
 li,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 pre,
 code,
 form,
 fieldset,
 legend,
 input,
 textarea,
 p,
 blockquote,
 th,
 td {
     margin: 0;
     outline: none;
     padding: 0;
 }
 
 button {
     outline: none;
 }
 
 button:active i {
     transform: scale(0.8);
 }
 
 button:hover {
     cursor: pointer;
 }
 
 input[type=range] {
     -webkit-appearance: none;
     background-color: transparent;
 }
 
 input[type=range]::-webkit-slider-runnable-track {
     width: 300px;
     height: 2px;
     background: #ddd;
     border: none;
     border-radius: 3px;
 }
 
 input[type=range]::-webkit-slider-thumb {
     -webkit-appearance: none;
     border: none;
     height: 8px;
     width: 8px;
     border-radius: 50%;
     background: #0091cc;
     margin-top: -3px;
 }
 
 input[type=range]:focus {
     outline: none;
 }
 
 input[type=range]:focus::-webkit-slider-runnable-track {
     background: #ccc;
 }
 
 ::-webkit-scrollbar {
     height: 6px;
     width: 6px;
 }
 
 ::-webkit-scrollbar-track {
     border-radius: 0px;
 }
 
 ::-webkit-scrollbar-thumb {
     border-radius: 0px;
     background-color: #555;
 }
 
 body {
     font-size: 14px;
     font-family: Roboto;
     background-color: #fff;
 }
 /*=================  */
 
 .modal {
     position: fixed;
     top: 50px;
     z-index: 10000;
     left: 150px;
     right: 150px;
     background-color: #fff;
     box-shadow: 0 0 10px black;
 }
 
 .child_show_on_hover .hover_btn {
     visibility: hidden
 }
 
 .child_show_on_hover {}
 
 .child_show_on_hover:hover .hover_btn {
     visibility: visible;
 }
 
 .glass {
     content: "";
     z-index: -1;
     position: absolute;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     background-color: rgba(0, 0, 0, 0.5);
 }
 
 .btnIcon {
     background: rgba(0, 0, 0, 0);
     color: rgba(238, 238, 238, 1);
     border-style: hidden;
     position: relative;
     outline-style: none;
     width: 25px
 }
 
 .dragging {
     cursor: grab
 }
 
 .btnIcon:disabled {
     color: rgba(102, 102, 102, 1)
 }
 
 .btnIcon:hover:after {
     width: 70px;
     height: 19px;
     bottom: -18px;
     left: -53px;
     border-radius: 5px;
     border-top-right-radius: 0px;
     text-align: left;
     padding: 0px;
     text-indent: 6px;
     border-bottom-right-radius: 20px;
     font-size: 11px;
     display: none
 }
 
 .dragging:active {
     width: 0;
     height: 0
 }
 
 .btnIcon:hover {
     color: #e4a910
 }
 
 .btnIcon--selected {
     color: #e4a910
 }